
foster_c_by_discovery/Chapter 1 - Getting Started/first/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/first/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/shortsub/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/shortsub/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/output/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/output/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/structure/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/structure/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/intvar/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/intvar/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/input1/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/input1/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/input2/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/input2/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/arth/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/arth/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/divrem/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/divrem/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/preceden/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/preceden/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/fahrcels/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/fahrcels/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/compound/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/compound/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/incremen/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/incremen/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/function/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/function/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/miles/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/miles/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/exercises/triangles/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/exercises/triangles/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/exercises/initials/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/exercises/initials/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/exercises/addsubtract/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/exercises/addsubtract/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/exercises/timeconv/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/exercises/timeconv/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/exercises/centconv/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/exercises/centconv/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/exercises/baseconv/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/exercises/baseconv/cmake-build-debug/

foster_c_by_discovery/Chapter 2 - Gaining Control/.idea/

foster_c_by_discovery/Chapter 2 - Gaining Control/express/.idea/

foster_c_by_discovery/Chapter 2 - Gaining Control/express/cmake-build-debug/
