
foster_c_by_discovery/Chapter 1 - Getting Started/first/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/first/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/shortsub/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/shortsub/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/output/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/output/cmake-build-debug/

foster_c_by_discovery/Chapter 1 - Getting Started/structure/.idea/

foster_c_by_discovery/Chapter 1 - Getting Started/structure/cmake-build-debug/
